@charset "utf-8";
@import url(font.css);
@import url(all.css);
@import url(cheun.css);
@import url(sumin.css);
.top-banner {
    position: relative;
    width: 100%;
    height: 390px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #80bcbd 0%, #aad9bb 100%);
  }
  .banner-txt {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .banner-title {
    font-family: "GangwonEduPower";
    font-style: normal;
    font-size: 2.75rem;
    line-height: 2.76rem;
    color: #ffffff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  }
  .banner-sub {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 1.825rem;
    color: #f2f2f2;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding-top: 30px;
  }
 

    /* callcenter */
    .callct-wrap{
        width: 100%;
        height: 100%;
    }
    .callct-img{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .callct-img > img{
        width: 70%;
        left: 18%;
    }
    .callct-123{
        display: flex;
        position: absolute;
       
        width: 30%;
        height: 20%;
    left: 35%;
    gap: 7%;
    justify-content: space-between; 
    align-items: center;
top: 58%;



    }
    .callct-1{
        cursor: pointer;
        height: 18%;
    }
    .callct-2{
        cursor: pointer;
        height: 18%;

    }
    .callct-3{
        cursor: pointer;
        height: 18%;

    }

    .callct-1 > p{
        text-align: center;
        margin-top: 10%;
        font-size: 1.2rem;
        font-weight: 600;
        transition: transform 0.4s, filter 0.4s;
    }
    .callct-2 > p{
        text-align: center;
        margin-top: 10%;
        font-size: 1.2rem;
        font-weight: 600;
        transition: transform 0.4s, filter 0.4s;
    }
    .callct-3 > p{
        text-align: center;
        margin-top: 10%;
        font-size: 1.2rem;
        font-weight: 600;
        transition: transform 0.4s, filter 0.4s;
    }
    .callct-1:hover p,
.callct-2:hover p,
.callct-3:hover p {
    transform: scale(1.1);
}
    .callct-1 >img{
        transition: transform 0.4s, box-shadow 0.4s;
    }
    .callct-1 >img:hover{
        transform: scale(1.05);
        filter: brightness(90%) contrast(110%) drop-shadow(0px 0px 8px rgba(0,0,0,0.6));
    }
    .callct-2 >img{
        transition: transform 0.4s, box-shadow 0.4s;
    }
    .callct-2 >img:hover{
        transform: scale(1.05);
        filter: brightness(90%) contrast(110%) drop-shadow(0px 0px 8px rgba(0,0,0,0.6));
    }
    .callct-3 >img{
        transition: transform 0.4s, box-shadow 0.4s;
    }
    .callct-3 >img:hover{
        transform: scale(1.05);
        filter: brightness(90%) contrast(110%) drop-shadow(0px 0px 8px rgba(0,0,0,0.6));
    }

    @media screen and (max-width: 1027px){
        .callct-123{
            display: flex;
            position: absolute;
            width: 30%;
            height: 20%;
        left: 32%;    
    top: 58%;
        }
    }
    @media screen and (max-width: 860px){
        .callct-123{
            display: flex;
            position: absolute;
            width: 20%;
            height: 10%;
        left: 31%;    
    top: 60%;
        }
      
       .callct-1 >img{
        width: 100px;
        height: 94px;
       }
       .callct-2 >img{
        width: 100px;
        height: 94px;
       }
       .callct-3 >img{
        width: 100px;
        height: 94px;
       }
    }
    @media screen and (max-width: 768px){
        .callct-1 >img{
            width: 70px;
            height: 70px;
           }
           .callct-2 >img{
            width: 70px;
            height: 70px;
           }
           .callct-3 >img{
            width: 70px;
            height: 70px;
           }
           .callct-wrap {
            margin-bottom: 10%;
           }
    }
    @media screen and (max-width: 620px){
        .callct-1 >img{
            width: 60px;
            height: 60px;
           }
           .callct-2 >img{
            width: 60px;
            height: 60px;
           }
           .callct-3 >img{
            width: 60px;
            height: 60px;
           }
           .callct-123{
            display: flex;
            position: absolute;
            width: 20%;
            height: 10%;
        left: 30%;    
    top: 60%;
        }
        .callct-1 > p {
          
            font-size: 1.1rem;
     
        }
        .callct-2 > p {
          
            font-size: 1.1rem;
     
        }
        .callct-2 > p {
          
            font-size: 1.1rem;
     
        }
    }
    @media screen and (max-width: 530px){

        .callct-1 >img{
            width: 50px;
            height: 50px;
           }
           .callct-2 >img{
            width: 50px;
            height: 50px;
           }
           .callct-3 >img{
            width: 50px;
            height: 50px;
           }
           .callct-1 > p{
            font-size: 1rem;
           }
           .callct-2 > p{
            font-size: 1rem;
           }
           .callct-3 > p{
            font-size: 1rem;
           }
           .callct-123{
            display: flex;
            position: absolute;
            width: 20%;
            height: 10%;
        left: 35%;    
    top: 60%;
        }
    }
    @media screen and (max-width: 520px){
        .callct-img > img {
            width: 110%;
            left: 20%;
        }
        .callct-1 >img{
            width: 50px;
            height: 50px;
           }
           .callct-2 >img{
            width: 50px;
            height: 50px;
           }
           .callct-3 >img{
            width: 50px;
            height: 50px;
           }
           .callct-1 > p{
            font-size: 1rem;
           }
           .callct-2 > p{
            font-size: 1rem;
           }
           .callct-3 > p{
            font-size: 1rem;
           }
           .callct-123{
            display: flex;
            position: absolute;
            width: 20%;
            height: 10%;
        left: 30%;    
    top: 60%;
        }



    }
    @media screen and (max-width: 450px){

        .callct-img > img {
            width: 110%;
            left: 20%;
        }
    
           .callct-123{
            display: flex;
            position: absolute;
            width: 20%;
            gap: 12%;
            height: 10%;
        left: 25%;    
    top: 60%;
        }

    }
    @media screen and (max-width: 320px){

        .callct-img > img {
            width: 140%;
            left: 18%;
            margin-top: 10%;
            padding: 10% 8%;
        }
    
           .callct-123{
            display: flex;
            position: absolute;
            width: 20%;
            height: 10%;
        left: 17%;    
    top: 62%;
        }

    }