@charset "utf-8";
#top-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 13%;
}
.pg-navi {
  margin-top: 8%;
}
/* 수강신청확인 영역*/
.enrol-chk {
  position: relative;
  display: block;
}
.title-box {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: center;
}
.enrol-chk svg {
  width: 60px;
  height: 60px;
}
.chk-title {
  font-family: "GangwonEduPower";
  font-size: 2.75rem;
}
.enrol-chk-bg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 35px;
  padding: 65px;
  box-shadow: 0px 28px 100px rgba(0, 0, 0, 0.12);
  margin: 7% 0;
}
.chk-sub-title {
  font-weight: 700;
  font-size: 2.375rem;
  text-align: center;
}
.chk-sub-info-title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3;
  text-align: center;
}
.info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}
.info-box-li {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}
.chk-info-title {
  font-weight: 700;
  font-size: 2rem;
}
.chk-info-data {
  font-weight: 400;
  font-size: 2rem;
}
.map {
  width: 60%;
  height: 29.89vw;
  margin: 35px auto 0;
  background-color: aquamarine;
}
/* 수강안내 */
.info-box-last {
  width: 100%;
  position: relative;
  padding: 5% 0 0;
}
.info-box-last::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #959595;
}
.chk-info-detail {
  font-size: 1.75rem;
  padding-bottom: 35px;
  margin: 0 0 0 20%;
}
.chk-info-detail a {
  color: #80bcbd;
  text-decoration: underline;
}
.chk-info-detail:last-child {
  padding: 0;
}
.btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 6% 0 12%;
}
#cancle-btn {
  padding: 12px 0;
  width: calc(100% / 2 - 75px);
  border: 2px solid #80bcbd;
  background-color: #fff;
  border-radius: 23px;
  font-size: 38px;
  line-height: 45px;
  color: #80bcbd;
  text-align: center;
  cursor: pointer;
}
#back-btn {
  padding: 12px 0;
  width: calc(100% / 2 - 75px);
  background: #80bcbd;
  border-radius: 23px;
  border: 0;
  font-size: 38px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
