@charset "utf-8";
@import url(font.css);
@import url(all.css);
@import url(seoa.css);
@import url(sumin.css);
@import url(gesipan.css);
.header-wrap {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.3s;
  z-index: 1000;
  height: 13%;
}
.header-wrap.scrolled {
  backdrop-filter: blur(7px); /* 블러 효과 적용 */
}
.hgbg {
  position: relative;
  width: 100%;
  height: auto;
}
.hdbg img {
  width: 100%;
  height: 119px;
}
/* ========================================== */
.login-wrap {
  position: relative;
  display: block;
  /* background-color: antiquewhite; */
  /* height: 600px; */
}
.inner {
  width: 100%;
  max-width: 1400px;
  height: 100%;
}
.login-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.login-menu {
  margin-top: 3%;
  display: block;
  width: 19%;
  height: 100%;
}
.login-menu ul {
  width: 100%;
}
.login-menu ul li:first-child {
  text-align: center;
  font-size: 1.7rem;
  color: #fff;
  background-color: #80bcbd;
  padding: 14%;
  font-weight: 600;
}
.login-menu ul li {
  position: relative;
  background-color: #d5f0c1;
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  padding: 14%;
}
.login-menu ul li::after {
  position: absolute;
  display: block;
  content: "";
  width: 85%;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #aad9bb;
}
.login-menu ul li:first-child::after,
.login-menu ul li:last-child::after {
  display: none; /* 첫 번째 li와 마지막 li의 선을 숨깁니다. */
}
.login-menu ul li {/* 기본 배경색 */
  cursor: pointer;
}

.login-menu ul li.active {
  background-color: #aad9bb;
  color: #fff; /* 클릭된 li의 텍스트 색상 */
}
/* =============================================== */
.login-con {
  display: block;
  width: 75%;
  height: 100%;
}
.login-text {
  font-family: "GangwonEduPowerExtraBoldA";
  font-weight: bolder;
  font-size: 2rem;
}
.login-text::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #959595;
}
.banner {
  margin-top: 1%;
  display: block;
  width: 100%;
  height: 100%;
}
.banner1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 4%;
  background: url("../images/login/boanbg.png");
}
.boan {
  width: 15%;
  margin: 3% 0 3% 3%;
}
.boancont {
  width: 50%;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}
/* =============================================== */
.log-wrap{
  display:flex;
  width: 100%;
  height: 100%;
  margin-top: 1%;
  border: 0.5px solid #959595;
  padding: 7% 10%;
}
.log-left{
  position: relative;
  width: 50%;
  height: 100%;
  padding-right: 10%;
}
.log-left::after{
  position: absolute;
  top:0;
  right:0;
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #333;
}
.log-id, .log-pw{
  padding: 3% 0;
  font-size: 1.375rem;
}
#login-Id, #login-Pwd{
  font-family: "Pretendard-Regular";
  padding: 4% 27% 4% 4%;
  border: 0.5px solid #959595;
  font-size: 1.1rem;
}
.checkbox{
  width: 100%;
  padding: 5% 0;
  display: flex;
  align-items: center;
}
.checkbox > span{
  padding-left: 1%;
}
input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
}
#autologin{
  margin-left: 5%;
}
#login_Btn{
  width: 100%;
  border: none;
  background-color: #80bcbd;
  font-family: "Pretendard-Regular";
  font-size: 1.375rem;
  color: #fff;
  padding: 4.5% 0;
  cursor: pointer;
}
#login_Btn:hover{
  background-color: #679899;
}
#btnlogin, #signUp_Btn{
  border: none;
  font-family: "Pretendard-Regular";
  background-color: #AAD9BB;
  color: #333;
  font-weight: bold;
  margin: 5% 3% 0 0;
  padding: 2% 2%;
  cursor: pointer;
}
.log-right{
  width: 50%;
  height: 100%;
  padding-left: 7%;
}
.snslogin{
  width: 100%;
}
.snslogin{
  width: 100%;
}
.ilbantit{
  font-family: 'GangwonEduPowerExtraBoldA';
  margin-bottom: 4%;
  font-size: 2rem;
}
.snslogin img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  padding-top: 4.5%;
}
/* ================================================= */
.footer{
  position: relative;
}