@charset "utf-8";

.top-banner {
  background: url("../images/volunteer_landing_bg.png") no-repeat center / cover;
}
.banner-txt {
  width: 100%;
}
.title {
  font-size: 2.375rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
  margin-top: 5%;
}
.title span {
  font-weight: 400;
}
.news-section {
  position: relative;
  display: block;
  margin-top: 5%;
}
.news-section .inner {
  display: flex;
  justify-content: center;
  padding: 0;
}
.news-section video {
  width: 78%;
  object-fit: cover;
  border-radius: 35px;
}
video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}
/* introduce area */
.intro {
  position: relative;
  display: block;
  margin-top: 7%;
}
.intro-ul {
  width: 78%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 8%;
}
.intro-ul li {
  width: calc(75% / 3);
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 35px;
}
.intro-ul li img {
  width: 160px;
  height: 160px;
  object-fit: cover;
}
.intro-info-tit {
  font-size: 2.375rem;
  font-weight: 600;
  max-width: 95%;
  height: 2vw;
}
.intro-info {
  max-width: 95%;
  height: 10vw;
  font-size: 1.75rem;
  line-height: 1.24;
}
